html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom, #0b1e3d 0%, #152f57 100%);
  color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden; 
}



*, *::before, *::after {
  box-sizing: border-box;   /* ✅ Asegura que los márgenes no sumen más del 100% */
}


/* En la vista específica */
:host {
  display: block;
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 2rem;
}

@media (max-width: 991.98px) {
  .navbar-collapse.show .nav-item {
    opacity: 1 !important;
    transform: translateY(0) !important;
    animation: none !important;
  }
}
@media (max-width: 767.98px) {
  .contenido-scroll {
    padding-bottom: 120px !important; /* espacio visual para evitar corte en móviles */
  }
}
@media (max-width: 576px) {
  .scroll-wrapper {
    padding-bottom: 120px !important; /* ⚠️ Aumentado para dejar espacio bajo último item */
  }
}